<html>

<head>
    <link rel="stylesheet" href="./data.css">
</head>

<body>
    <table>
        <tr>
            <th>Package</th>
            <th>Hash Rate</th>
            <th>Cost</th>
            <th>Weekly Income</th>
            <th>Best Returns</th>
        </tr>
        <tbody>
            <tr>
                <td>Basic</td>
                <td>15mh/Sec</td>
                <td>25,000</td>
                <td>312.5</td>
                <td>1250</td>
            </tr>
            <tr>
                <td>Silver</td>
                <td>30mh/Sec</td>
                <td>50,000</td>
                <td>625</td>
                <td>2500</td>
            </tr>
            <tr>
                <td>Gold</td>
                <td>45mh/Sec</td>
                <td>75,000</td>
                <td>937.5</td>
                <td>3750</td>
            </tr>
            <tr>
                <td>Platinum</td>
                <td>60mh/Sec</td>
                <td>1,00,000</td>
                <td>1250</td>
                <td>5000</td>
            </tr>
            <tr>
                <td>Diamond</td>
                <td>180mh/Sec</td>
                <td>3,00,000</td>
                <td>3750</td>
                <td>15000</td>
            </tr>
        </tbody>
    </table>
</body>

</html>